/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-body: Quicksand;
    --color-light: #fcfcfc;
    --color-slate-900: rgb(15, 23, 43);
}

body {
    font-family: var(--font-body);
    background-color: var(--color-slate-900);
    align-content: center;
    height: 95vh;
}

h1 {
    color: var(--color-light);
}

img {
    display: inline;
    width: 120px;
    border-radius: 7px;
}

.container {
    width: 200px;

    margin: 30px;

    border: 10px solid paleturquoise;
    border-radius: 10px;

    padding: 20px;
}