/* Import da fonte */
@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

:root {
    --font-body: Lato-Regular;
    --font-title: PlayfairDisplay-Bold;
}

@property --color-blue {
    syntax: "<color>";
    inherits: true;
    initial-value: #369eff;
}

@property --color-gray {
    syntax: "<color>";
    inherits: true;
    initial-value: #868686;
}

@property --font-25 {
    syntax: "<length>";
    inherits: true;
    initial-value: 25px;
}

@property --weigth-600 {
    syntax: "<integer>";
    inherits: true;
    initial-value: 600;
}

body {
    font-family: var(--font-body, monospace);
    color: var(--color-dark);
}

h1 {
    font-family: var(--font-title);
    font-size: var(--font-25);
    color: var(--color-blue);
}

p {
    color: var(--color-gray);
    font-weight: var(--weigth-600);
    margin-bottom: 30px;
}

.container1 {
    background-color: var(--color-blue); /*usando a variável global*/
    width: 400px;
    height: 100px;
}

.container2 {
    --color-blue: rgb(117, 149, 255); /*usando a variável local*/
    background-color: var(--color-blue);
    max-width: 700px;
    min-height: 300px;
}

a {
    color: var(--color-blue);
    text-decoration: none;
    font-weight: var(--weigth-600);

    &:hover {
        color: var(--color-dark);
        text-decoration: underline;
    }
}