* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-body: Montserrat;
    --color-blue-400: #907ad6;
    --color-blue-600: #4f518c;
    --color-blue-900: #2c2a4a;
}

body {
    font-family: var(--font-body);
    text-align: center;
    padding: 20px;
    color: var(--color-blue-900);
}

header,
main,
article,
section,
figure,
figcaption,
footer {
    /* container */
    padding: 1rem;
    margin-block: 1rem;
    /*margem superior e inferior*/
    border: 1px solid var(--color-blue-600);
}

nav {
    border: 1px solid var(--color-blue-400);
}

ul,
ol {
    list-style: none;
}

a {
    color: var(--color-blue-600);
    text-decoration: none;
    font-weight: 800;
}

section {
    border-color: var(--color-blue-400);
}

img {
    max-width: 300px;
}